<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".appclass.Authenticator"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Authenticator"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.ImportScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ExportScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ImportExportScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FeedbackScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SelectLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>